:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    "Lucida Grande", "Segoe UI";

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #000000;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 100%;
  min-height: 100vh;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 8px;
  letter-spacing: 0em;
  text-align: left;
  padding: 40px;
}

form {
  width: 560px;
  height: 352px;
  top: 160px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
}

label {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

input {
  box-sizing: border-box;
  height: 72px;
  width: 437px;
  left: 163px;
  border-radius: 8px;
  border: 1px solid #cccccc;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 24px;
}

input::placeholder {
  color: #aaaaaa;
}

select {
  display: block;

  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: border-box;
  height: 72px;
  width: 437px;
  left: 163px;
  border-radius: 8px;
  border: 1px solid #cccccc;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 24px;
  appearance: none;
  color: #aaaaaa;
}

select.arrow {
  background-image: url("./assets/caret.svg");
  background-position: calc(100% - 20px) calc(1em + 6px), 0.5em;
  background-size: 16px;
  background-repeat: no-repeat;
}

button {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 32px;
  gap: 8px;
  width: 560px;
  height: 72px;

  background: linear-gradient(180deg, #94bfff 0%, #61a0ff 100%), #ffffff;
  border: 1px solid #61a0ff;
  box-shadow: 0px 2px 4px rgba(97, 160, 255, 0.5),
    0px 4px 8px rgba(97, 160, 255, 0.25);
  border-radius: 8px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    "Lucida Grande", "Segoe UI";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #ffffff;
  line-height: 100%;

  cursor: pointer;
}

button:hover {
  opacity: 80%;
}

button:active {
  -webkit-box-shadow: inset 1px 1px 10px #333;
  -moz-box-shadow: inset 1px 1px 10px #333;
  box-shadow: inset 1px 1px 10px #333;
}

.App {
  margin-top: 40px;
  margin-bottom: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  background-color: #ffffff;
  width: 640px;
  min-height: 1205px;
  border-radius: 24px;
  box-shadow: 0px 2px 16px 0px #0000001a;
}

.app-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.line {
  width: 640px;
  height: 0px;
  /*left: 0px;
  top: 128px;*/
  border: 1px solid #eeeeee;
}

.form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.movie-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list-item {
  padding: 0px 40px 0px 40px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 64px 300px 0.5fr;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  width: 640px;
  height: 129px;
}

.item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 64px;
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
  background-color: #61a0ff;
  border-radius: 64px;
}

.item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: 0px;
}

.name {
  font-weight: 600;
  font-size: 24px;
}

.category {
  margin-top: 6px;
  font-weight: 500;
  font-size: 16px;
  color: #aaaaaa;
}
